.details-container {
    text-align: left;
    div {
        margin: 5px 10px;
    }
}

.details-key {
    width: 200px;
    display: inline-block;
    font-weight: bold;
}

.error-message {
    color: #721c24;
}